/AxiDrawExamples
/IntellijWorkspace/IntellijWorkspace.iml
/IntellijWorkspace/.idea/workspace.xml
/IntellijWorkspace/.idea/.name
/IntellijWorkspace/.idea/libraries/windows64.xml
/IntellijWorkspace/.idea/libraries/core.xml
/IntellijWorkspace/.idea/libraries/jssc.xml
/IntellijWorkspace/.idea/libraries/serial.xml
/IntellijWorkspace/.idea/libraries/Ani.xml
